* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:active,
*:focus {
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --theme: #017c76;
  --themeShade: #4841c5;
  --themeMix: #dc0c57;

  --themeDark: #000;
  --themeLight: #fff;

  --themeGray: rgb(185, 185, 185);
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 55px; /*  To compensate for fixed nav bar */
}

/* Initialization */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

em {
  font-size: 12.5px;
  font-style: unset;

  padding: 3px 5px;
}

.w100 {
  width: 100%;
}

button:focus {
  box-shadow: none !important;
}
.btn {
  border-radius: 5px;
}

.btn-success {
  background: #015551;
  border: none;
}

.progress {
  height: 15px;
  margin-top: 5px;
  width: 100%;
}
.progress-bar {
  background: #4d8380;
}

i {
  font-size: 16px;
}

/* Elements */
.big-container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* navigation */
.navigation {
  min-height: 55px;
  width: 100%;
  padding: 0px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  position: fixed;
  top: 0;

  z-index: 2;
  box-shadow: #000 1px 0px 3px;
}

/* nav-links */
.navigation-links {
  height: 100%;
}

.navigation-links ul {
  display: flex;
  margin-bottom: 0%;
}

.navigation-links ul li {
  margin-right: 10px;
  cursor: pointer;
  list-style-type: none;
}

.navigation-links ul li:nth-child(2n + 0) {
  margin-right: 0px;
}

/* nav-logo */
.navigation-logo {
  height: 100%;

  display: flex;
  align-items: center;
  color: #015551;
}

.navigation-logo img {
  height: 48px;
}

.navigation-logo h6,
.navigation-links h5 {
  padding: 0;
  margin: 0;
}

.navigation-logo h6 {
  font-size: 15px;
}

.navigation-links ul li i {
  font-size: 16px;
}

.header {
  width: 100%;
  height: 45vh;

  background: var(--theme);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.header-child {
  height: 100%;
  margin: 0px 10px;

  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;

  color: #000;
}

.swiper-wrapper {
  margin-left: -40px;
  background: red;
}
.header-image {
  display: flex;
  flex-direction: column;
}

.header-child img {
  max-height: 140px;
}

.header-text {
  justify-content: center;
  color: #fff;
}

.header button h6 {
  font-size: 140%;
  margin: 0px;
}

.header button {
  border-radius: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.swiper-pagination span {
  background: #fff;
}
/* Sidebar */
.sidebar {
  padding: 0px 10px;
}

.sidebar-item {
  border: solid 1px #ddd;
  margin-bottom: 5px;

  border-radius: 5px;
}

.sidebar-heading {
  margin: 0px 10px;
  padding: 5px 0px;
  border-bottom: solid 1.7px #ddd;
}

.sidebar-content {
  padding: 3px 10px;
}

.sidebar-content p {
  margin: 0px;
  padding-bottom: 3px;
}

/* Main Bar */
.skills,
.projects {
  padding: 10px 10px;
  position: relative;
}

.section-header {
  position: absolute;
  background: #000;

  color: #fff;
  padding: 5px;
  border-radius: 0px 0px 10px 0px;

  top: 0;
  left: 0;
  z-index: 1;
}

/* skills container */
.skills button {
  width: 100%;
  padding: 20px 25px;

  border-radius: 5px;
  margin-bottom: 10px;

  background: rgb(255, 255, 255);
  color: var(--themeDark);
}

.skills button h5 {
  margin: 0px;
  color: #4d8380;
}

.skills button img {
  height: 48px;
}

/* project container */
.projects .row div {
  padding: 0px;
  padding-bottom: 3px;
}
.project-image {
  width: 100%;
  height: 180px;

  background: url("assets/img/siteImage/test.jpg") no-repeat top;
  background-size: cover;
}

.project-text {
  border: solid 1px #dddddd;
  /* used this to prevent border from going arround the whole 'project-item'  */
}

.project-text .btn {
  padding: 10px 0px;
}

.project-text h5 {
  padding-bottom: 5px;
  border-bottom: solid 1px #dddddd;
}

@media only screen and (min-width: 576px) {
  body {
    padding-top: 65px;
  }
  .navigation {
    min-height: 65px;
    padding: 0px 20px;
  }
  .gallery {
    height: 40%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 70px;
  }
  .navigation {
    min-height: 70px;
    padding: 0px 30px;
  }

  .header {
    height: 60vh;
  }

  .header-child img {
    max-height: 200px;
  }

  .header-text h2 {
    font-size: 45px;
  }

  .header-text h6 {
    font-size: 20px;
  }

  .sidebar {
    padding: 10px 10px 0px 0px;
  }

  .section-header {
    border-radius: 0px 0px 5px 5px;
  }

  .skills button {
    border: solid 1px #dddddd;
    padding: 40px 40px;
  }

  .project-image {
    height: 150px;
  }

  .progress {
    height: 20px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .gallery-text h2 {
    font-size: 80px;
  }

  .header-text h2 {
    font-size: 70px;
  }

  .header-text h6 {
    font-size: 27px;
  }

  .header-child img {
    max-height: 250px;
  }
}
