* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:active,
*:focus {
  border: none;
  outline: none;
}

:root {
  --theme: #4d3174;
  --themeLight: #736194;
  --themeVeryLight: #c4b9d8;
  --themeDead: #706391;

  --themeMix: #e81538;
  --themeMixLight: #e44e4e;

  --projectBG: #e0e0e0;

  --themeBlack: #161616;
  --themeTextBlack: #303030;
  --themeWhite: #fff;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 55px; /*  To compensate for fixed nav bar */
  background: #eee;
  color: var(--themeTextBlack);
  position: relative;

  line-height: 1.3;
}

/* Initialization */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

em {
  font-size: 12.5px;
  font-style: unset;

  padding: 3px 5px;
}

.hidden {
  display: none;
}
.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

button:focus,
a:focus {
  box-shadow: none !important;
}

.progress {
  height: 15px;
  margin-top: 5px;
  width: 100%;

  display: none;
}
.progress-bar {
  background: var(--themeBlack);
  font-size: 8px;
}

i {
  font-size: 16px;
}

/* Elements */
.big-container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Mobile Navbar */
.mobile-navbar {
  position: fixed;
  right: 0;
  top: 0;

  height: 100%;
  width: 80%;
  margin-top: 55px;

  padding: 5px 10px;
  z-index: 1;

  background: var(--themeWhite);
  box-shadow: #777777 -1px 0px 3px;
}

.mobile-nav-heading {
  border-bottom: 1px solid var(--themeTextBlack);
  border-top: 1px solid var(--themeTextBlack);
  padding: 10px 0px;
  margin-bottom: 3px;
}

.mobile-navbar a {
  color: var(--themeTextBlack);
  padding: 10px 15px;
  font-size: 14px;
}
/* navigation */
.navigation {
  min-height: 55px;
  width: 100%;
  padding: 0px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--theme);
  color: var(--themeWhite);

  position: fixed;
  top: 0;
  z-index: 2;
}

/* nav-links */
.navigation-links {
  height: 100%;
}

.navigation-links ul {
  display: flex;
  margin-bottom: 0%;
}

.navigation-links ul li {
  margin-right: 10px;
  cursor: pointer;
  list-style-type: none;
}

.navigation-links ul li:nth-child(2n + 0) {
  margin-right: 0px;
}

/* nav-logo */
.navigation-logo {
  height: 100%;

  display: flex;
  align-items: center;
}

.navigation-logo img {
  height: 48px;
}

.navigation-logo h6,
.navigation-links h5 {
  padding: 0;
  margin: 0;
}

.navigation-logo h6 {
  font-size: 15px;
}

.navigation-links ul li i {
  font-size: 16px;
}

/* Carousel */
.header {
  width: 100%;
  height: 45vh;
  padding: 10px 0px;

  background: var(--themeWhite);

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-child {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-image {
  display: flex;
  flex-direction: column;
}

.header-image h6 {
  color: #333;
}

.header-child img {
  height: 140px;
}

.header-text {
  justify-content: center;
  color: var(--themeDead);
}

.header-text p {
  color: #333;
}

.header a h6 {
  font-size: 140%;
  margin: 0px;

  color: var(--themeWhite);
}

.header a {
  background: var(--themeDead);
  border: none;
}

.header a:hover {
  background: var(--themeMixLight);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--themeDead);
  padding: 0px 30px;
}

.swiper-pagination span {
  background: var(--themeDead);
}

/* Sidebar */
.sidebar {
  padding: 0px 10px;
}

.sidebar-item {
  border: solid 1px #ddd;
  margin-bottom: 5px;

  background: #fff;
}

.sidebar-heading {
  margin: 0px 10px;
  padding: 5px 0px;
  border-bottom: solid 1.7px #ddd;
}

.sidebar-content {
  padding: 3px 10px;
}

/* Main Bar */
.main-bar {
  /* background: #fff; */
}

.skills,
.projects,
.tabs {
  padding: 0px 10px;
  padding-top: 10px;
  position: relative;
}

.explain-heading {
  padding-bottom: 0px;
}

.section-explain {
  padding: 10px 0px;
  width: 100%;
}

.explain-p-second {
  margin-top: -13px;
}
.section-header {
  position: absolute;
  background: var(--themeMix);
  opacity: 0.88;
  width: 75px;

  color: var(--themeWhite);
  padding: 5px 0px;
  margin: 5px 0px 0px -5px;

  top: 0;
  left: 0;
  z-index: 1;
}

.section-header h6 {
  font-size: 11px;
}

/* skills container */
.skills button {
  width: 100%;
  padding: 35px 0px;

  border: solid 1px #ddd;
  background: #fff;
}

.skills button h5 {
  margin: 0px;
  font-size: 15px;
}

.skills button img {
  height: 40px;
}

/* project container */
.projects .row div {
  padding: 0px;
  padding-bottom: 17px;
}

.projects .btn-success {
  background: var(--themeWhite);
  color: var(--themeBlack);

  border: solid 1px #ddd;
  border-radius: 5px;
}

.project-item {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.first-project {
  background: var(--projectBG) url("assets/img/siteImage/projects/zootap.png")
    no-repeat;
}

.second-project {
  background: var(--projectBG) url("assets/img/siteImage/projects/cabinet.png")
    no-repeat;
}

.third-project {
  background: var(--projectBG)
    url("assets/img/siteImage/projects/fanunited.png") no-repeat;
}

.fourth-project {
  background: var(--projectBG) url("assets/img/siteImage/projects/weather.png")
    no-repeat;
}

.project-image {
  width: 100%;
  height: 180px;

  background-size: 320px;
  background-position: 50% 50%;
}

.project-text .btn {
  padding: 10px 0px;
}

.project-text h5 {
  padding: 10px 0px;
  margin-bottom: 5px;
  border-bottom: solid 1px #ddd;
}

.more-projects {
  margin-top: 16px;
}

.more-projects a {
  color: #333;
}

/* TABS SECTION */

.tab-item {
  margin-top: 10px;
  padding-bottom: 25px;
  background: var(--themeWhite);

  border-radius: 5px;
  border: solid 1px #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-header {
  color: var(--themeBlack);
  padding-top: 30px;
}

.tab-header i {
  font-size: 32px;
}
.tab-header h4 {
  text-align: center;
}

.tab-text {
  padding: 0px 25px;
  padding-top: 10px;
}

@media only screen and (min-width: 576px) {
  body {
    padding-top: 65px;
  }

  .progress-bar {
    font-size: 12px;
  }
  .navigation {
    min-height: 65px;
    padding: 0px 20px;
  }
  .gallery {
    height: 40%;
  }

  .skills button h5 {
    font-size: 20px;
  }

  .skills button img {
    height: 48px;
  }

  .explain-text {
    margin: 0px 20%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 70px;
  }
  .navigation {
    min-height: 70px;
    padding: 0px 30px;
  }

  .header {
    height: 60vh;
  }

  .header-child img {
    max-height: 200px;
  }

  .header-text h2 {
    font-size: 45px;
  }

  .header-text h6 {
    font-size: 20px;
  }

  .main-bar {
    background: none;
  }

  .sidebar {
    padding: 10px 10px 0px 0px;
  }

  .skills button {
    padding: 40px 40px;
    border: solid 1px #ddd;
  }

  .project-image {
    background-size: 220px;
  }

  .project-item {
    border: solid 1px #ddd;
  }

  .progress {
    height: 17px;
    width: 100%;

    display: flex;
  }

  .section-explain {
    padding: 20px 0px;
    width: 100%;
  }

  .tab-text {
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 992px) {
  .gallery-text h2 {
    font-size: 80px;
  }

  .header-text h2 {
    font-size: 70px;
  }

  .header-text h6 {
    font-size: 27px;
  }

  .header-child img {
    min-height: 250px;
  }

  .project-image {
    background-size: 280px;
  }

  .tab-text {
    padding: 10px 40px;
  }
}
